.part {
    display: flex;
}

.part_menu {
    width: calc(100%/3);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.part_content {
    padding: 0 4px;
}

.part_img1 {
    height: 130px;
    background: url(../source/Group\ 11.png);
    background-repeat: no-repeat;
}

.part_img2 {
    height: 130px;
    background: url(../source/Group\ 13.png);
    background-repeat: no-repeat;
}

.part_img3 {
    height: 130px;
    background: url(../source/Group\ 14.png);
    background-repeat: no-repeat;
}

@media (max-width: 739px){
    .part_img1,
    .part_img2,
    .part_img3 {
        background-size: 50px;
        height: 70px;
    }

    .part_content {
        font-size: 10px;
    }

}