.top20 {
    height: 605px;
    width: 70%;
    background: rgba(250,250,250,0.5);
    /* background: url(../public/tree3.jpg); */
    border-radius: 25px;
    margin-left: 180px;
    margin-top: 30px;
    padding-top: 16px;
}

.top20_header {
    display: flex;
    flex-direction: column;
    background: #D9D9D9;
    text-align: center;
    justify-content: center;
    width: 929px;
    height: 67px;
    margin: 46px 30px 5px 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;

    color: #000000;
    border-radius:25px;
}

.top20_tieuchi {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 928px;
    height: 44px;
    border-radius: 16px;
    background: #D9D9D9;
    margin: 0px 30px 5px 40px;
    color: #2FB814;
    margin-right: 250px;
}
.seperator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-right: 24px;
    height: 24px;
    width: 1px;
    background-color: #2FB814;
}
.top20_tieuchi_left {
    display:flex;
    flex-direction: row;
    margin-left:40px;
}
.top20_tieuchi_left h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-right:20px;
    font-size: 30px;
}
.top20_tieuchi_mid{
    padding-left: 100px;
}
.top20_tieuchi p {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
}
.top20_tieuchi_right p {
  
    /* margin-right:150px; */

}

.top20_tieuchi_right {
        display:flex;
        flex-direction:row;
        margin-left: 40px;
        margin-right: 10px;

}
.top20_tieuchi_right p{
    margin-right: 42px;
}
.top20_info {
    background: #D9D9D9;
border-radius: 32px;
margin: 0px 45px 5px 40px;
display:flex;
justify-content: space-between;
align-items: center;
height: 62.65px;
}
.top20_info_left {
    display:flex;
    flex-direction: row;

}

.top20_info_left h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left:20px;
    margin-left:20px;
    color:#2FB814;
    font-size: 30px;
    margin-right:40px
}
.top20_info p {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.top20_info img {
    height:30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.top20_info_right {
    display: flex;
    flex-direction: row;
    margin-left:40px;
    margin: 0 80px 0 40px;
    font-size: 24px;
    color: #333;
}
.top20_info_mid{
    padding-left:60px;
}   
.input{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input1{
    display: flex;
    flex-direction: row;
}
.input_type{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-weight: 500;
}
.input_type{
    width: fit-content;
}
.input_type_code{
    background-color: #D9D9D9;
    border-radius: 16px;
    height: 38px;
    width: 300px;
}
.add_btn{
    width: auto;
    height: 38px;
    width: 140px;;
    background-color: #D9D9D9;
    border-radius: 16px;
    color: #333;
    font-weight: 500;
    margin-top: 20px;
    justify-self: flex-end;
}
