.end {
background: #272424;
display:flex;
justify-content: space-between;
color : #2FB814;
align-items: center;
flex-direction: row;

}

.end_logo {
    width:150px;
    margin-left:100px;
}

.end_img {
    width:150px;
    margin-right:100px;
}

.end_button {
    display: flex;
    justify-content: center; 
}

.end_button a {
    padding: 0 4px;
}

.end_center {
    display:block;
    line-height: 32px;
 
}