.exchange {
    height: 605px;
    width: 70%;
    background: rgba(250, 250, 250, 0.5);
    /* background: url(../public/tree3.jpg); */
    border-radius: 25px;
    margin-left: 180px;
    margin-top: 30px;
    padding-top: 16px;
}
.diem {
    display: flex;
    font-size: 24px;
    margin-bottom: 56px;
    width: 20%;
    border-radius: 12px;
    margin-left: 326px;
    margin-top: 46px;
    color: #000;
    background-color: #fff;
}
.diem p{
    padding: 0 12px 0 12px;
}
.checkbox{
    display: flex;
    font-size: 24px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 36px;
    margin-left: 100px;
}
.checkbox p{
    padding: 0 32px 0 32px;
}
.checkbox_check{
    display: flex;
    background-color:#eee;
    height: 40px;
    width: 40px;
}
.btn{
    height: 65px;
    width: 243px;
    border-radius: 16px;
    background-color: #d9d9d9;
    margin-left: 38%;
    margin-top: 20px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
}
