.header_bar {
    top:0;
    left:0;
    width: 100%;
    display: flex;
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #333;
    justify-content: right;
    align-items: center;
    z-index: 10;
    position: fixed;
    /* opacity: 0.6; */
}

.img_header {
    position: absolute;
    width: 90px;
    height: 80px;
    left: 100px;
    top: 1px;
}

.header_bar p {
    background-size: 85px;
    background-repeat: no-repeat;
}
.signup_login {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-right: 10%;
}

.setSignup {

    position: absolute;
    width: 6%;
    height: 15px;
    left: 71%;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #D9D9D9;

}
.setSignup:hover {
    text-decoration: underline;
}
.setLogin:hover {
    text-decoration: underline;
    opacity: .7;
}
.setLogin {
    box-sizing: border-box;

    position: absolute;
    width: 8.78%;
    height: 30.4px;
    left: 77.24%;
    top: 24.6px;
    color: white;
    text-align: center;
    border: 3px solid #2D9318;
    border-radius: 16px;
}

@media (max-width: 739px){
    .img_header {
        left: 50px;
    }

    .setLogin {
        width: 60px;
        height: 30px;
        left: 82%;
        top: 26.6px;
        font-size: 14px;
    }

    .setSignup {
        left: 65%;
        width: auto;
    }
}
