.login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;
    width:1000px;
    height: 800px;
}

.login_container {
    background-color: #fff;
    max-width: calc(100% - 56px);
    width: 1000px;
    height: 650px;
    min-height: 300px;
    position: relative;
    animation: modalFaceIn ease-out 0.5s;
    border-radius: 64px;

}

.login_img {
    position: absolute;
    height: 100%;
    width: 58%;
}

/* .login_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 8px;
    margin: 16px 28px;
    color: #2FB814;
    cursor: pointer;
    opacity: 0.7;
    font-size: 20px;
} */

.login_close:hover {
    color: #2FB814;
    background-color: #ccc;
    opacity: 1;
    border-radius: 8px;
}

.login_header {
    height: 226px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 500px;
    text-transform: uppercase;
    font-weight: 600;
}

.login_text {
    color: #2FB814;
    padding-right: 8px;
}

.login_body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 600px;
    padding-right: 100px;
    display: block;
}

.login_input {
    width: 100%;
    margin-bottom: 32px;
    border-bottom: 2px solid #2FB814;
}

.login_checkbox {
    color: #333;
    opacity: 0.5;
    font-weight: 600;
    display: flex;
}

.login_check {
    margin-right: 14px;
    width: 32px;
    height: 24px;
    background-color: #2FB814;
}

.login_click {
    width: 100%;
    margin-top: 100px;
    border-radius: 56px;
    border: 2px solid #2FB814;
    background-color: #2FB814;
    font-size: 12px;
    color: #fff;
    padding: 8px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-130px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}