.main {
    background: #1E1E1E;
    height:auto;

}
.main_chunen {
    position: absolute;
    
    right:0px;
    height: 2356px;
    width: 510px;
    background: url('../source/CSET.png');
    background-repeat: no-repeat;

    
}