.main {
    top:0;
    left:0;
    display:flex;
    padding: 80px 100px 80px 100px;
    flex-direction: column;
}
.main1 {
    background: #1E1E1E;
    height:auto;
    display:flex;
    
    flex-direction: column;
}

@media (max-width: 739px){
    .main {
        padding:100px 40px 40px 40px;
    }
}
