.main {

    display:flex;
    padding: 80px 100px 80px 100px;
    flex-direction: column;
   
}
.main1 {
    background: #1E1E1E;
    height:auto;
    display:flex;
    
    flex-direction: column;
    background: url('../public/bgpic.png');
    background-repeat: no-repeat;
    background-size: 110%;

}

@media (min-width: 740px) and (max-width: 1023px){
    .main1 {
        background-size: 139%;
    }
}

@media (max-width: 739px){
    .main {
        padding:100px 40px 40px 40px;
    }

    .main1 {
        background-size: 195%;
    }
}
