.what {
    display: flex;
    justify-content: space-between;
    color:white;
    padding-top:100px;
    max-width: 1400px;
}
.what_left {
    max-width:50%;
}



.what_left h1 {
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    margin-bottom:20px;
    color: #FFFFFF;
    margin-top:20%;
}

.what_left p {

    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.what_right_box1 {

    width: 315px;
    height: 300px;

  
    background: #2FB814;
}

.what_right_box2 {

    width: 315px;
    height: 300px;

    margin-top:-150px;
    margin-left:-120px;
    background: #FFFFFF;
}  